body{
    background-color: chocolate;
}

header{
    display: flex;
    background-color: aquamarine; /*coloca cor de fundo*/ 
    font-size: 15px;                /*coloca tamanho da fonte*/
    color: cadetblue;              /*coloca cor da fonte*/
    width: 100%;                     /*coloca largura da janela*/
    height: 100px; /*coloca altura do espaço do cabeçalho*/
    text-align: center;
    display: flex;
    justify-content: space-between; /*coloca espaço entre os objetos do cabeçalho*/
}
.butão-login{
    background-color: darkcyan;
    border-radius: 60px;
border: none;
color: bisque;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: flex;
font-size: 20px;
margin: 10px 20px;
transition-duration: 0.4s;
cursor: pointer;
background-image: -o-linear-gradient(to bottom, #5aa15e #adca5d);

}

/*formatar o botao verde para mudar a cor do texto e colocar sombra quando o mouse passar em cima*/
.butão-login:hover {
background-color: brown;
color: coral;
box-shadow: 0px 8px 16px 0px rgba(209, 192, 192, 0.2);
}
.imagem{
    /*tamanho que a imagem tera na tela*/
    padding: 10px 10px;
}

.titulo_pagina{
    color: blueviolet;
    font-size: 25px;


}
footer{
    background-color: brown;
    width: 80%;
    height: 40px;
    margin: 40px;
    color: antiquewhite; 
    margin: 40px;
    padding: 20px 100px;
}

.rodapé{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}